.contacts {
  height: 100vh;
  background-color: #f8fbff;
  margin-top: 20px;
  overflow: hidden;

  .contact {
    padding: 10px 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 70px 1fr 35px;
    border-bottom: 1px solid rgba(0, 102, 255, 0.09);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: -200px;
      top: 0;
      bottom: 0;
      width: 200px;
      height: 100%;
      background: #808080 url('/delete2.png') no-repeat;
      background-position-x: left;
      background-size: contain;
      z-index: 1000;
    }

    &::before {
      content: '';
      position: absolute;
      right: -200px;
      top: 0;
      bottom: 0;
      width: 200px;
      height: 100%;
      background: #808080 url('/fix2.png') no-repeat;
      background-size: contain;
      background-position-x: right;
      z-index: 1000;
    }

    img {
      height: 50px;
    }

    .info {
      h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 17px;
      }

      .truncate {
        width: calc(100vw - 180px);

        .truncate_text {
          font-size: 15px;
          color: darkslategrey;
          white-space: nowrap; /* Отменяем перенос текста */
          overflow: hidden; /* Обрезаем содержимое */
          text-overflow: ellipsis; /* Многоточие */
        }
      }
    }

    .notification {
      background-color: #ff8181;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border-radius: 20px;

      .BsPinAngleFill {
        margin-left: 2px;
      }
    }
  }
}
