.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  background: #f3f8ff;

  @media (max-width: 500px) {
    display: none;
  }
}

.main_container_mobile {
  display: none;

  @media (max-width: 500px) {
    display: block;
  }
}
