.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  background: #f3f8ff;
}

.mobile_version {
  display: none;

  .content {
    width: 100%;
    background: #f8fbff;
    margin-top: 32px;
    padding: 0 20px;

    .user_info {
      margin-bottom: 30px;
      overflow: hidden;

      .imgLogo {
        display: flex;
        flex-direction: column;
        align-items: center;

        .img {
          width: 130px;
          height: 130px;
          border-radius: 50%;
        }

        .file {
          border: 0;
          background: #000;
          height: 30px;
          display: flex;
        }
      }

      p {
        font-weight: 500;
        font-size: 16px;
        margin-top: 20px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 100px;

      input {
        padding: 10px 10px 10px 20px;
        background: #ffffff;
        border: 1px solid #454545;
        border-radius: 10px;
        outline: none;
        font-weight: 500;
        font-size: 16px;

        &::placeholder {
          color: rgba(69, 69, 69, 0.5);
        }
      }

      button {
        width: 200px;
        margin: 0 auto;
        border: 0;
        background: #ff8181;
        color: #fff;
        height: 40px;
        border-radius: 20px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 700px) {
  .container {
    display: none;
  }
  .mobile_version {
    display: block;
    background-color: #f8fbff;
  }
}
