.container {
  width: 100%;
  display: flex;

  @media (max-width: 500px) {
    display: block;
  }

  .main_container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #f8fbff;

    @media (max-width: 500px) {
      display: none;
    }

    .menu {
      margin-top: 90px;
    }
  }

  .main_container_mobile {
    display: none;

    @media (max-width: 500px) {
      display: block;
    }
<<<<<<< Updated upstream
=======

    .nav {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;

      button {
        padding: 0 20px;
        height: 30px;
        border: 0;
        background-color: transparent;
        border-bottom: 2px solid transparent;
        opacity: 0.3;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        cursor: pointer;
      }

      .active_nav {
        opacity: 1;
        border-bottom: 2px solid #333;
      }
    }

    .contacts {
      height: 100vh;
      background-color: #f8fbff;
      padding: 0 20px;
      margin-top: 20px;
      overflow: hidden;

      .contact {
        padding: 10px 0;
        display: grid;
        align-items: center;
        grid-template-columns: 70px 1fr 35px;
        border-bottom: 1px solid rgba(0, 102, 255, 0.09);
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: -130px;
          top: 0;
          bottom: 0;
          width: 150px;
          height: 100%;
          background: url('/delete.png') no-repeat;
          background-size: contain;
          z-index: 1000;
        }

        &::before {
          content: '';
          position: absolute;
          right: -170px;
          top: 0;
          bottom: 0;
          width: 150px;
          height: 100%;
          background: url('/fix.png') no-repeat;
          background-size: contain;
          z-index: 1000;
        }

        img {
          height: 50px;
        }

        .info {
          h3 {
            // font-family: 'Inter';
            font-weight: 600;
            font-size: 16px;
            line-height: 17px;
          }

          .truncate {
            width: calc(100vw - 180px);

            .truncate_text {
              // font-family: sans-serif;
              font-size: 15px;
              color: darkslategrey;
              white-space: nowrap; /* Отменяем перенос текста */
              overflow: hidden; /* Обрезаем содержимое */
              text-overflow: ellipsis; /* Многоточие */
            }
          }
        }

        .notification {
          background-color: #ff8181;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          border-radius: 20px;

          .BsPinAngleFill {
            margin-left: 2px;
          }
        }
      }
    }
  }

  .sidebar {
    width: 22%;
    height: 100vh;

    .BsSearch {
      display: none;
      font-size: 30px;
      margin-right: 20px;
      cursor: pointer;
    }

    @media (max-width: 500px) {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;

      .BsSearch {
        display: block;
      }
    }

    .profile_container {
      margin-top: 200px;
      margin-left: 90px;
      display: flex;
      align-items: center;
      background-color: #ff8181;
      border-radius: 50px 0 0 50px;
      position: relative;

      @media (max-width: 500px) {
        margin: 0;
        margin-top: 10px;
        border-radius: 50px;
        width: 200px;
        height: 50px;

        img {
          height: 50px;
        }
      }

      .profile_name {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
      }

      .profile_menu {
        position: absolute;
        width: 20px;
        height: 100%;
        right: -20px;
        color: #ff8181;
        background-color: #ff8181;

        @media (max-width: 500px) {
          display: none;
        }
      }
    }
>>>>>>> Stashed changes
  }
}
