.container {
  width: 100%;
  display: flex;
}

.mobile_version {
  display: none;
  overflow: hidden;

  .layout {
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color: #fff, $alpha: 0.01);
    backdrop-filter: blur(5px);
  }

  .message_img {
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
  }

  .header_message {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff8181;
    padding: 5px 0;
    position: fixed;
    z-index: 2;

    img {
      height: 50px;
      width: 50px;
    }
  }

  .content {
    overflow: auto;
    height: 100%;
    background: rgba($color: #fff, $alpha: 0.1);

    padding: 100px 20px 100px 20px;

    .message {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      position: relative;

      h2 {
        position: relative;
        padding: 5px 10px;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        display: inline-block;
        background: #fff;
        border-radius: 12px;
        max-width: 300px;
        user-select: none;
      }

      .answer {
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 13px;

        .answerMess {
          background: rgba($color: #ff8181, $alpha: 0.2);
          border-left: 2px solid #ff8181;
          border-radius: 0 13px 13px 0;
          margin: 10px 10px;
        }
      }

      .messageBlock {
        position: absolute;
        z-index: 1000;
        bottom: -160px;
        background: #fff;
        padding: 10px;
        border-radius: 13px;
        text-align: center;
      }

      .pIMe {
        opacity: 0.5;
      }

      .messageBlockMe {
        right: 0;
      }

      .changeValue {
        position: absolute;
        z-index: 3;
        top: -34px;
        right: 0;
        display: flex;

        input {
          border: 0;
          border-radius: 13px;
          padding-left: 10px;
          height: 30px;
          margin-left: 5px;
          outline: none;
        }

        .HiArrowUp {
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          color: #fff;
          background: #79d7ff;
          width: 30px;
          height: 30px;
          border-radius: 50px;
        }
      }

      .messageBlockMe {
        right: 0;
      }
    }

    .me {
      justify-content: flex-end;
    }
  }

  .mobile_footer_main_container {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    z-index: 2;

    .sendBlock {
      position: absolute;
      right: 10px;
      top: -82px;
      padding: 10px 15px;
      border-radius: 13px;

      background: #ff8181;
      color: #fff;
      text-align: center;

      p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 100;
        padding: 5px 0;

        svg {
          margin-left: 10px;
          font-size: 15px;
        }
      }

      p:nth-child(1) {
        border-bottom: 1px solid #fff;
      }
      p:nth-child(2) {
        margin-top: 0;
        border-top: 1px solid #fff;
      }
    }

    .entry_field {
      background: #ff8181;
      padding: 10px 0;
      display: grid;
      grid-template-columns: 40px 1fr 40px;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .FiPaperclip {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 21px;
        color: #fff;
      }

      .MdKeyboardVoice {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 24px;
        color: #fff;
        opacity: 0.5;
      }

      .HiArrowUp {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #fff;
        background: #79d7ff;
        width: 30px;
        height: 30px;
        border-radius: 50px;
      }

      .textarea {
        display: block;
        overflow: hidden;
        resize: none;
        width: 100%;
        background: #ffffff;
        border-radius: 23px;
        padding: 5px 15px;
        outline: none;
        border: 0;
        height: 30px;
      }
    }
  }
}

@media (max-width: 700px) {
  .container {
    display: none;
  }
  .mobile_version {
    display: block;
    height: 100vh;
    background-color: #f8fbff;
  }
}
