.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.content_container {
  height: 80vh;
  margin-bottom: 4vh;
  width: 70%;
}

.image_cont {
  width: 72px;
  height: 72px;
  background-color: #ff8181;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.header_container {
  width: 100%;
  display: flex;
  height: 15vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  p {
    font-size: 24px;
  }
}

.main_container {
  width: 100%;
  height: 50vh;
}

.input_container {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  input {
    width: 313px;
    height: 35px;
    background: #ffffff;
    border: 1px solid #454545;
    border-radius: 10px;
    color: #454545;
    font-size: 18px;
  }
}

.top_container,
.bottom_container {
  display: flex;
  justify-content: space-around;
}

.check_number {
  width: 100%;
  height: 10vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.input_cont {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.region_input {
  width: 129px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #454545;
  border-radius: 10px;
  color: #454545;
  font-size: 18px;
}

.number_input {
  width: 261px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #454545;
  border-radius: 10px;
  color: #454545;
  font-size: 18px;
}

.button_container {
  height: 13vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    border: 1px solid #000000;
    border-radius: 22px;
    width: 283px;
    height: 47px;
    font-size: 24px;
    color: #454545;
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content_container {
    width: 100%;
    font-size: 15px;
  }
  .input_container {
    font-size: 15px;
    input {
      width: 144px;
    }
  }
  .check_number {
    font-size: 20px;
    .input_cont {
      width: 90%;
      font-size: 15px;
      .region_input {
        width: 103px;
      }
      .number_input {
        width: 180px;
      }
    }
  }
  .button_container {
    button {
      width: 190px;
      font-size: 20px;
      height: 30px;
    }
  }
}
