.contact {
  padding: 10px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 70px 1fr 35px;
  border-bottom: 1px solid rgba(0, 102, 255, 0.09);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: -130px;
    top: 0;
    bottom: 0;
    width: 150px;
    height: 100%;
    background: url("/delete.png") no-repeat;
    background-size: contain;
    z-index: 1000;
  }

  &::before {
    content: "";
    position: absolute;
    right: -170px;
    top: 0;
    bottom: 0;
    width: 150px;
    height: 100%;
    background: url("/fix.png") no-repeat;
    background-size: contain;
    z-index: 1000;
  }

  img {
    height: 50px;
  }

  .info {
    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 17px;
    }

    .truncate {
      width: calc(100vw - 180px);

      .truncate_text {
        font-size: 15px;
        color: darkslategrey;
        white-space: nowrap; /* Отменяем перенос текста */
        overflow: hidden; /* Обрезаем содержимое */
        text-overflow: ellipsis; /* Многоточие */
      }
    }
  }
}
