.navbar_container {
  width: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.translate_container {
  margin-top: 30px;
  cursor: pointer;
}

.line {
  width: 4.2%;
  opacity: 0;
  height: 45px;
  position: absolute;
  background-color: #ff8181;
  border-radius: 25px 0 0 25px;
}

.profile_container {
  margin-left: 10px;
  display: flex;
  align-items: center;
  margin-top: 70px;
  width: 90%;
  height: 45px;
  img {
    z-index: 11;
  }
}

.nav_container {
  margin-top: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .home_img {
    width: 30px;
    height: 30px;
  }
  .find_img {
    width: 30px;
    height: 30px;
  }
  .message_img {
    width: 30px;
    height: 21px;
  }
}

.exit_container {
  margin-top: 300px;
}

.navbar_infos_container {
  width: 0%;
  height: 100vh;
  position: absolute;
  background-color: rgb(255, 255, 255);
  margin-left: 4.8%;
  z-index: 13131;
  // background-color: blue;
}

.translate_cont {
  margin-top: 30px;
  height: 35px;
  display: flex;
  cursor: pointer;
  align-items: center;
  color: rgb(66, 66, 66);
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
}

.profile_cont {
  opacity: 0;
  background-color: #ff8181;
  border-radius: 0 25px 25px 0;
  height: 45px;
  width: 90%;
  cursor: pointer;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
  }
}

.nav_cont {
  opacity: 0;
  margin-top: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .home {
    height: 30px;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .find {
    height: 30px;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .message {
    height: 21px;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
}

.exit_cont {
  opacity: 0;
  margin-top: 300px;
  display: flex;
  height: 20px;
  align-items: center;
  color: rgb(66, 66, 66);
  font-size: 18px;
  font-weight: 500;
}

.exit_img {
  display: flex;
  align-items: center;
}

.mobile_nav {
  display: none;
}

@media (max-width: 800px) {
  .navbar_container {
    display: none;
    width: 0;
  }
  .translate_container {
    display: none;
  }
  .profile_container {
    display: none;
  }
  .navigation_container {
    display: none;
  }
  .mobile_nav {
    display: block;
    width: 100%;
    padding: 5px;
  }
  .mobile_profile_container {
    width: 200px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    background-color: #ff8181;
    border-radius: 25px;
    img {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
    .mobile_profile_name {
      display: flex;
      color: white;
      flex-direction: column;
      justify-content: center;
      font-weight: 400;
      font-size: 15px;
      margin-right: 32px;
      align-items: center;
    }
  }
}

.closeAndExtraCAll_cont {
  width: 85%;
  margin-left: 15%;
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding-right: 5px;
  padding-bottom: 5px;
}

.extracall {
  width: 72px;
  cursor: pointer;
  height: 72px;
  z-index: 454547;
  background-color: #ff8181;
  border-radius: 50%;
}
