.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  background: #f3f8ff;
  // overflow: hidden;

  @media (max-width: 500px) {
    display: none;
  }

  .content {
    padding: 0;

    .nav {
      color: #fff;
      background: #ff8181;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      font-size: 20px;

      .stars {
        color: gold;
        font-size: 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        // margin-top: 10px;
      }

      .dots {
        cursor: pointer;
        position: relative;

        .dots_modal {
          position: absolute;
          right: 0;
          background: #ff8181;
          padding: 20px;
          border-radius: 25px;
          top: 50px;
          width: 250px;
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.1);
          cursor: default;

          p {
            font-size: 16px;
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }

    .main {
      display: flex;
      justify-content: center;
      margin-top: 50px;

      .imgImage {
        width: 150px;
        height: 150px;
      }
    }

    .onlinebtn {
      width: 1000px;
      margin: 0 auto;
      font-size: 20px;

      .btn {
        display: inline-flex;
        background: #ff8181;
        padding: 2px;
        border-radius: 50px;

        button {
          background: transparent;
        }

        .active {
          background: #fff;
          color: #000;
        }
      }
    }

    .items {
      width: 1000px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      margin-top: 10px;
      gap: 20px;

      .item {
        background: #fff;
        // height: 200px;
        padding: 20px;

        .title {
          font-size: 20px;
          display: flex;
          justify-content: flex-start;
        }

        .down {
          display: flex;

          .btns {
            background: #ff8181;
            color: #fff;
            width: 48%;
            margin-top: 20px;
            cursor: default;

            &:hover {
              .opicane_modal {
                transform: translateX(0);
                opacity: 1;
              }
            }

            .opicane_modal {
              position: absolute;
              bottom: 35px;
              background: #f3f8ff;
              right: -100px;
              width: 400px;
              min-height: 100px;
              color: #000;
              box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.1);
              border-radius: 25px;
              padding: 20px;
              z-index: 2;
              cursor: default;
              transform: translateX(-100vw);
              transition: all 0.2s;
              text-transform: none;
              opacity: 0;

              p {
                text-align: start;
              }
            }
          }
        }

        .imgImage {
          width: 130px;
          height: 130px;
        }
      }
    }
  }
}

.mobile_container {
  display: none;

  @media (max-width: 500px) {
    display: block;
  }
}

.mobile_container {
  display: none;

  .dots_modal {
    position: absolute;
    right: 0;
    background: #ff8181;
    padding: 20px;
    border-radius: 25px;
    top: 50px;
    width: 250px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.1);
    cursor: default;
    z-index: 2;

    p {
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      color: #fff;
    }
  }

  @media (max-width: 500px) {
    display: block;
  }
}

.content {
  padding: 20px 20px;
  padding-bottom: 100px;

  .stars {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
    color: gold;
  }

  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    text-align: center;

    color: #000000;
  }

  .infoCenter {
    margin-top: 20px;
    display: flex;
    align-items: center;

    .info {
      margin-left: 30px;

      p {
        font-weight: 500;
        font-size: 15px;
        // line-height: 35px;

        color: #000000;
      }
    }
  }

  .btn {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;

    button {
      background: #ff8181;
      // border-radius: 23px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      // width: 123px;
      // height: 28px;

      color: #ffffff;
    }
  }

  .infoGeo {
    border-bottom: 2px solid #ff8181;

    p {
      font-weight: 500;
      font-size: 15px;
      line-height: 35px;
      /* or 233% */

      color: #000000;
    }
  }

  .specialists {
    h2 {
      font-weight: 500;
      font-size: 18px;
      line-height: 35px;
      /* identical to box height, or 194% */

      color: #000000;
    }

    .items {
      position: relative;
      display: grid;
      gap: 20px;

      // .item {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      //   padding: 5px;

      //   p {
      //     font-weight: 500;
      //     font-size: 11px;
      //     line-height: 20px;
      //     /* or 182% */
      //     color: #000000;
      //     white-space: nowrap;
      //   }
      // }
      .item {
        background: #fff;
        // height: 200px;
        // padding: 20px;

        .title {
          font-size: 20px;
          display: flex;
          justify-content: flex-start;
        }

        .down {
          display: flex;

          .btns {
            background: #ff8181;
            color: #fff;
            width: 48%;
            margin-top: 20px;
            cursor: default;

            &:hover {
              .opicane_modal {
                transform: translateX(0);
                opacity: 1;
              }
            }

            .opicane_modal {
              position: absolute;
              bottom: 35px;
              background: #f3f8ff;
              right: -110px;
              width: 300px;
              min-height: 100px;
              color: #000;
              box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.1);
              border-radius: 25px;
              padding: 20px;
              z-index: 2;
              cursor: default;
              transform: translateX(-100vw);
              transition: all 0.2s;
              text-transform: none;
              opacity: 0;

              p {
                text-align: start;
              }
            }
          }
        }

        .imgImage {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  .treatment {
    display: none;

    h2 {
      font-weight: 500;
      font-size: 18px;
      line-height: 35px;
      /* identical to box height, or 194% */

      color: #000000;
    }

    h3 {
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      /* identical to box height, or 133% */

      color: #000000;
      margin-left: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .btnOnline {
      display: flex;
      justify-content: center;

      div {
        background: #000;
        padding: 2px;
        border-radius: 23px;
        background: #ff8181;

        button {
          background: transparent;
          color: #fff;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          border-radius: 23px;
          height: 25px;
        }

        .active {
          background: #fff;
          color: #000;
        }
      }
    }

    .infoTreatment {
      display: flex;
      align-items: center;

      .info {
        margin-left: 30px;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #000000;
      }
    }

    .opicanie {
      p {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        /* or 167% */

        color: #000000;
      }
    }

    .btnPodr {
      display: flex;
      justify-content: center;

      button {
        font-weight: 500;
        font-size: 15px;
        /* identical to box height, or 233% */

        color: #ffffff;
        background: #ff8181;
        border-radius: 11.5px;
      }
    }
  }
}
